* {
  box-sizing: border-box;
}


.box,
button {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid grey;
  border-radius: 3px;
  padding: .5rem;
  margin: .15rem;
/*   float: left; */
  }


.box1,
button {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid grey;
  border-radius: 3px;
  padding: .5rem;
  margin: .15rem;
/*   float: left; */
  }

input {
  display: flex;
  justify-content: space-around;
  align-content: center;
  border-radius: 5px;
  padding: 10px;

}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  font-size: 24px;
  padding-right: 20px;
}

.nav-link {
  padding: 130px;
}


.name1{
  text-align: center;
}

.category--dessert,
.btn-dessert {
  background-color: white;
}

.category--pizza,
.btn-pizza {
  background-color: white;
}

.category--meat,
.btn-meat {
  background-color: white;
}

.category--fish,
.btn-fish {
  background-color: white;
}

.category--chicken,
.btn-chicken {
  background-color: white;
}

.btn-all {
  background-color: white;
}

.category__list-item {
  background-color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.flex-col {
   display: flex;
   flex-direction: column;
/*    align-items: flex-start; */
/*    justify-content: center; */
}

.flex-spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
